<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ravenRabbitMQ" type="Raven.Message.RabbitMQ.Configuration.ClientConfiguration,Raven.Message.RabbitMQ"/>
  </configSections>
  <ravenRabbitMQ logType="xxxxxx" serializerType="MsgPack">
    <brokers>
      <broker name="test1" host="local.test.com">
        <queues>
          <queue name="hahaha" serializerType="MsgPack">
            <producer sendConfirm="false" />
            <consumer consumeConfirm="false" />
          </queue>
        </queues>
      </broker>
    </brokers>
  </ravenRabbitMQ>
</configuration>