<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ravenRabbitMQ" type="Raven.Message.RabbitMQ.Configuration.ClientConfiguration, Raven.Message.RabbitMQ"/>
  </configSections>
  <ravenRabbitMQ logType="ProducerConsole.Log, ProducerConsole">
    <brokers>
      <broker name="perftest" host="127.0.0.1">
        <queues>
          <queue name="testqueue" durable="true" maxPriority="5" redeclareWhenFailed="true">
            <producer sendConfirm="false" messagePersistent="false"></producer>
          </queue>
        </queues>
      </broker>
    </brokers>
  </ravenRabbitMQ>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>