<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ravenRabbitMQ" type="Raven.Message.RabbitMQ.Configuration.ClientConfiguration, Raven.Message.RabbitMQ"/>
  </configSections>
  <appSettings>
    <add key="action" value="SendToQueue"/><!--SendToQueueAsync,SendToQueue,SendToQueueWithPriority,Publish-->
    <add key="cpu" value="1"/>
    <add key="batchCount" value="500"/>
    <add key="sleepTime" value="10"/>
    <add key="message" value="test"/>
  </appSettings>
  <ravenRabbitMQ logType="ProducerConsole.Log, ProducerConsole">
    <brokers>
      <broker name="perftest" uri="amqp://127.0.0.1">
        <queues>
          <queue name="testqueue" durable="true">
            <producer sendConfirm="false" messagePersistent="false"></producer>
          </queue>
        </queues>
        <exchanges>
          <exchange name="perfexchange" durable="false">
            <producer sendConfirm="false" messagePersistent="false"></producer>
          </exchange>
        </exchanges>
      </broker>
    </brokers>
  </ravenRabbitMQ>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>