<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ravenRabbitMQ" type="Raven.Message.RabbitMQ.Configuration.ClientConfiguration, Raven.Message.RabbitMQ"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <ravenRabbitMQ logType="Raven.Message.RabbitMQTests.Log,Raven.Message.RabbitMQTests">
    <brokers>
      <broker name="localhost" uri="amqp://127.0.0.1">
        <queues>
          <queue name="conflict" durable="true"></queue>
          <queue name="redeclare" durable="true" redeclareWhenFailed="true"></queue>
          <queue name="placeholder_{_IP}_{_ProcessId}" durable="false"></queue>
          <queue name="NewObjectQueue" durable="false" serializerType="NewtonsoftJson"></queue>
          <queue name="OldObjectQueue" durable="false" serializerType="NewtonsoftJson"></queue>
          <queue name="ErrorMessageQueue" durable="false" expiration="10000" serializerType="NewtonsoftJson">
            <consumer consumeConfirm="true"></consumer>
          </queue>
          <queue name="DelayRetryQueue" durable="false">
            <consumer consumeConfirm="true" retryInterval="100"></consumer>
          </queue>
          <queue name="SkipRetryQueue" durable="false">
            <consumer consumeConfirm="true" skipRetry="true" retryInterval="100"></consumer>
          </queue>
          <queue name="DelayQueue" durable="true">
            <producer messageDelay="1000"></producer>
          </queue>
        </queues>
        <exchanges>
          <exchange name="conflict" durable="true"></exchange>
        </exchanges>
      </broker>
    </brokers>
  </ravenRabbitMQ>
</configuration>